<script>
	$(function(){
		gotApp = new Marionette.Application();
		gotApp.addRegions({
			container:'div.container',
		});

		gotApp.addInitializer(function(options){
			var layout = new AppLayout({collection:options.games});
			gotApp.container.show(layout);
		});

		var games = new GamesCollection(<%= games.values.map(&:state).to_json %>);
		gotApp.start({games:games, });
	});

</script>

<script type='text/template' id="games_template">
	<thead><tr><th>Games</th></tr></thead>
	<tbody>
	</tbody>
</script>

<script type='text/template' id='game_template'>
	<td><span class='name'></span></td>
</script>


<script type='text/template' id='layout_template'>
	<div class='navbar navbar-static-top'>
		<div class='navbar-inner'>
			<button class='btn btn-back'>Back</button>
			<button class='btn btn-create'>New</button>
			<ul class='nav pull-right'>
					<li ><a href='#'>Games</a></li>
					<li><a href='#'>Houses</a></li>
			</ul>		
		</div>
	</div>
	<div id='main-region'></div>
</script>

<script type='text/template' id='houses_template'>
	<div data-role='collapsible-set' data-theme='c' data-content-theme'd'>		
	</div>
</script>


<div class="container"></div>
