<script>
$(document).bind("mobileinit", function(){
        $.mobile.ajaxEnabled = false;
        $.mobile.hashListeningEnabled = false;
      });
	$(function(){
		gotApp = new Marionette.Application();
		gotApp.addRegions({
			container:'div#layout-region',
		});

		gotApp.addInitializer(function(options){
			var layout = new AppLayout({collection:options.games});
			gotApp.container.show(layout);

			gotApp.router =  new AppRouter();
			Backbone.history.start();
		});

		var games = new GamesCollection(<%= games.values.map(&:state).to_json %>);
		gotApp.start({games:games, });

	});

</script>

<script type='text/template' id="games_template">
	<tbody>
	</tbody>
</script>

<script type='text/template' id='game_template'>
	<td></td>
</script>


<script type='text/template' id='layout_template'>
	<div class='navbar navbar-static-top'>
		<div class='navbar-inner'>			
			<ul class='nav'>
				<li class='active' id='allgames'><a href='#'>Games</a></li>
			</ul>	
			<button class='btn btn-create pull-right'>New</button>
		</div>
	</div>
	<div id='main-region'></div>
</script>

<script type='text/template' id='houses_template'>	
	<tbody>
	</tbody>
</script>


<div class='container' id="layout-region"></div>
