<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game of Thrones Board Game: House Cards Reference</title>

   <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <%= css_url("/scss/main.css") %>
 
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>

    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

    <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.0.1-bundled/backbone.marionette.min.js'></script>

    <%= js_bundle(:app_js) %>

    
  </head>
  <body>
      <%= yield %>
  </body>
</html>
