<div data-role="header" data-game-name="<%= game.name %>">
  <h1><%= game.name %></h1>
</div>

<div data-role="content">
  <ul data-role="listview" data-inset="true">
    <% game.houses.keys.each do |house_name| %>
      <li data-icon="false">
        <a href="#" data-house-name="<%= house_name %>" class="house-link">
          <h2><%= house_name.capitalize %></h2>
        </a>
      </li>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  $(function() {
    window.game = new Game();
  });
</script>