<div data-role="header">
  <h1>Game of Thrones</h1>
</div>

<div data-role="content">
  <h3>Existing Games</h3>
  <span id="existingGameLinks">
    <% games.each_key do |game_name| %>
      <a href="#" data-role="button" data-game-name="<%= game_name %>"><%= game_name %></a>
    <% end %>
  </span>

  <form>
    <h3>Create Game</h3>
    <input type="text" id="gameNameInput" value="" />
    <input type="button" id="gameCreationButton" value="Create" />
  </form>
</div>

<script type="text/javascript">
  $(function() {
    window.gameSelection = new GameSelection();
  });
</script>