<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game of Thrones Board Game: House Cards Reference</title>

    <%= css_url("/vendor/jquery.mobile-1.3.0.css") %>
    <%= js_bundle(:vendor_js) %>
    <%= js_bundle(:app_js) %>
  </head>
  <body>
    <div data-role="page" id="mainPageDiv">
      <%= yield %>
    </div>
  </body>
</html>
